## ch02. Variable
- string
- float
- integer
- boolean

In [1]:
# 여러 이름 동시에 할당
two = deux = dos = 2 # dos -> deux -> two
two

2

In [2]:
# integer는 불변객체이므로
two = 4
print(two, deux)

4 2

In [3]:
id(two), id(deux)

(140423821715856, 140423821715792)

In [6]:
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [7]:
id(p), id(q) # 변수가 저장된 메모리 주소 찾는 함수

(140423830893376, 140423830893376)

In [8]:
p[0] = 9
p, q

([9, 2, 3], [9, 2, 3])

In [9]:
id(p), id(q)

(140423830893376, 140423830893376)

### 좋은 변수명
- 간격하고 명확한 이름
- 의미가 담겨야 함.
a, b, c, ...
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
    -예: the number of students
    n < the_number_of_students < num_students
    - 카멜표기법: numstudents

### 자료형 변환, 형 변환
-str(<변환할 값>),int(), float(), bool()

In [10]:
a = 10

#str
str(a)

#float
float(a)

#bool
bool(a) # 어떤 값이 False로 변환이 되는지만 기억을 하라!

True

주의할 점 1: float -> int

In [11]:
x = 10.7 # 소수점 내림
int(x)

10

In [12]:
y = 19.8

print(int(x + y))
print(int(x) + int(y))

30
29

주의할 점 2: str -> int/float

In [14]:
i = '10'
int(i), float(i)

(10, 10.0)

In [15]:
j = '10.7'
int(j)

ValueError: invalid literal for int() with base 10: '10.7'

### 꿀팁 'print()'

In [16]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X \n
print(dog, cat, lion) # space O \n

dogcatlion
dog cat lion

In [17]:
print(dog, cat, lion, sep=' ', end='\n') # default
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [18]:
#1.
print("My favorite animal is ", dog)

#2. 
print(f"My favorite animal is {dog}.")

My favorite animal is  dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [20]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

#### input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 된다.
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 한다.

In [1]:
input("Hello?")

Hello? Hi

'Hi'

In [3]:
int(input('나이가 어떻게 되나요?')) # int로 형 변환을 해줌

나이가 어떻게 되나요? 15

15

- 변수에 할당하는 방법

In [4]:
#1. 
age = input('나이가 어떻게 되나요?')

나이가 어떻게 되나요? 15

In [5]:
age

'15'

In [6]:
#2. 
print("나이가?")
age = input()

나이가?

 88

In [7]:
age

'88'

#### Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [2]:
섭씨 = float(input('섭씨 온도 : '))
화씨 = 섭씨 * 1.8 + 32
print(f"화씨 온도 : {화씨}")

섭씨 온도 :  50

화씨 온도 : 122.0

#### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [13]:
name = input('수취인 성명>>>')
address = input('수취인 주소>>>')
weight = float(input('물건 무게 (g)>>> '))
price = weight * 5
total = 3000 + price 
print()
print('====택배 정보====')
print(f'''수취인 성명: {name}
수취인 주소: {address}
배송비: 3000원
물건 비용: {price}원
총 합계: {total}원''')

수취인 성명>>> 채하은
수취인 주소>>> 이문동
물건 무게 (g)>>>  800

====택배 정보====
수취인 성명: 채하은
수취인 주소: 이문동
배송비: 3000원
물건 비용: 4000.0원
총 합계: 7000.0원

#### boolean
- 형 변환할 때 True, False인지 기억하라
    - '', None, 0, ...
- 조건식에서 많이 쓴다. 
    - 예: 만약 이 조건이 True라면, ...

In [5]:
bool(1)

True

In [6]:
bool('')

False

#### interger
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 
    예: 05
    - 예외적으로는 0bxxx, => 다른 진수 표현법
- 리터럴: 4
- 공백이 많아도 무시가 된다.
- 10,000원 -> 10, 000원 두개로 인식 => _ 사용
    - 예: 10_000

In [7]:
a = -9
8 + a

-1

In [8]:
a = 09 #숫자 앞에 0을 붙였기 때문에

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2890110653.py, line 1)

In [9]:
-9 + 9             -5

-5

In [10]:
a = 10_000
print(a)

10000

#### 연산
- 연산자|operator: +, -
- 피연산자|operand: 4, 5, ...
- 수식|expression

In [11]:
x = 4
y = 9

x + y
x - y
x * y
x / y

#거듭제곱|exponential
x ** y

262144

In [14]:
#1. division by zero => 주의 (y!=0)

#2. 몫, 나머지 , 소수점까지의 몫
x // y, x % y, x / y

(0, 4, 0.4444444444444444)

In [16]:
divmod(x, y) # (몫, 나머지)

(0, 4)

#### 복합 대입연산자|compound assignment operator

In [17]:
a = 5
a - 3
print(a)

5

In [18]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a-3
#3. a = a - 

a-=3

In [19]:
a += 3
a -= 3
a *= 3
a /= 3

In [20]:
u = ? # 값 초기화할 것
u = u + 1 # u라는 값이 초기화가 되지 않았기 때문에

SyntaxError: invalid syntax (1919254977.py, line 1)

### Quiz 3.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- = 홀수인지 확인하세요

In [23]:
정수 = int(input('점수를 입력하세요:'))
홀수 = 정수 % 2 == 1
정수 == 홀수

점수를 입력하세요: 4

False

#### 지수 표현
- e, E 둘다 가능하다
- 앞부분은 float, int
- 뒷부분은 int만 온다.
    - 양수면 0 앞으로
    - 음수면 0 뒤로 (소수점)

In [1]:
1.0e3# float

1000.0

In [ ]:
 # 0.000789 => 지수표현 
7.89e
789e
0.0789e # 굳이 그럴 필요는 없음

#### 조건문, if
- code structure

### 코드 짜는 룰
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현한다, 
    - '#' hash, sharp, ...
    - 시작된 부분부터 그 라인의 끝까지가 주석
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - """<주석>"""
    
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 뱃슬래시로 끊어준다 (\)

In [4]:
a = 3 # 여기부터 라인 끝
b = 2

In [5]:
example = 'hey ###'

print(example)

"""
주석1
주석2
주석3
"""

hey ###

'\n주석1\n주석2\n주석3\n'

In [6]:
if ....:
    ###

SyntaxError: invalid syntax (3701530689.py, line 1)

- 조건 1개
if <조건식>:
    <실행할 코드>

In [7]:
if 4 != 9:
    print('Yaay!')

Yaay!

- 조건 2개:
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드2>

In [8]:
if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건 3개 이상:
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드2>
        
    else:
        <실행할 코드3>

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리주소)
- x is not y

### Quiz 1.
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그외, D
- 변수 설정 유의

In [10]:
score = int(input('점수를 입력하세요: '))

if score >=90:
    print('A')
elif score >=80:
    print('B')
elif score >=70:
    print('c')   
else:
    print('D')

점수를 입력하세요:  88

B

### Quiz 2.
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 변환하기

In [14]:
id_official = "gkdms"
password_official = "1121"

id_personal = input("아이디를 입력하세요: ")
password_personal = input("비밀번호를 입력하세요: ")

if id_personal == id_official:
    if password_personal == password_official:
        print("로그인 되었습니다.")
    else:
        print("비밀번호가 일치하지 않습니다.")
else :
    print("아이디가 존재하지 않습니다.")

아이디를 입력하세요:  gkdms
비밀번호를 입력하세요:  1121

로그인 되었습니다.

#### 논리연산자
- 여러 조건식을 비교할 때
- 예: 10 < x < 20
    - 파이썬에서만 가능한 표현
    - x > 10 혹은 x < 20
    
- and, & : 둘다 참일 때 True
- or, | : 둘 중 하나만 참이여도 True
- not : cka -> False, 거짓 -> True

### Quiz 3. 
- quiz 2 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로
    - 논리연산자 사용
    - if 구로즐 크게 2번 가져갈 수 있다

In [12]:
grade = int(input('점수를 입력하세요:'))
attendance = int(input('결석 횟수를 입력하세요:'))

if attendance >= 2 :
    print('F')
else :
    if grade >= 90:
        print('A')
    elif grade >= 80 :
        print('B')
    elif grade >= 70:
        print('C') 
    else:
        print('D')

점수를 입력하세요: 90
결석 횟수를 입력하세요: 5

F